%h1 Editing multiple_choice_question

= render 'form'

= link_to 'Show', company_multiple_choice_question_path(@company, @multiple_choice_question)
\|
= link_to 'Back', company_multiple_choice_questions_path
