<a href="http://twitter.com/<%= @company.twitter %>" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="@cyllabus_jp" id="contact-tool" target="_blank">
<%= image_tag "twitter.png" %>
</a>