%object{height: "500", width: "600"}
  %param{name: "movie", value: "http://www.youtube.com/v/#{@company.youtube}&hl=ja&fs=1&color1=0xE1600F&color2=0xFEBD01&border=1&rel=0&showinfo=1&iv_load_policy=1&disablekb=0&loop=0&autoplay=0"}/
  %param{name: "allowFullScreen", value: "true"}/
  %embed{allowfullscreen: "true", height: "500", src: "http://www.youtube.com/v/#{@company.youtube_url}&hl=ja&fs=1&color1=0xE1600F&color2=0xFEBD01&border=1&rel=0&showinfo=1&iv_load_policy=1&disablekb=0&loop=0&autoplay=0", type: "application/x-shockwave-flash", width: "600"}
%br
= succeed "\u{3067}\u{8868}\u{793a}" do
  %a{href: "http://jp.youtube.com/watch?v=#{@company.youtube_url}", target: "_blank"} YouTube